<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars</title>
  </head>
  <body>
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="/" class="nav-link" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a href="/students" class="nav-link">Students</a>
          </li>
          <li class="nav-item">
            <a href="/cars" class="nav-link active">Cars</a>
          </li>
          <li class="nav-item"><a href="/games" class="nav-link">Games</a></li>
          <li class="nav-item">
            <a href="/stocks" class="nav-link">Stocks</a>
          </li>
        </ul>
      </header>
    </div>
    <div class="container">
      <h1 class="text-center">Best Electric Car Companies of 2023:</h1>
      <ul class="text-start">
        <% cars.forEach(function(c){ %>
        <li><%= c.make %></li>
        <% }); %>
      </ul>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
